.container {
  margin: 0 14px;
}

.form {
  width: 100%;
  gap: 1rem;
  display: flex;
}

.form input {
  width: 100%;
  height: 44px;
  border: 0;
  border-radius: 4px;
  padding: 0 8px;
  outline: none;
}
.form button {
  background: transparent;
}

table {
  border-collapse: separate;
  border-spacing: 0 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 16px;
  margin: 0.5em 0.75em;
}
th {
  color: #fff;
}
.tr {
  background-color: rgb(36, 36, 36);
}
