.container {
  padding: 0 14px;
  color: #fff;
  font-size: 18px;
}
.center {
  text-align: center;
  margin-bottom: 14px;
}
.content {
  background-color: rgb(20, 20, 20);
  margin: 24px auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  border-radius: 14px;
  gap: 14px;
}
.logo {
  width: 60px;
  height: 60px;
  transition: all 1s;
}
.logo:hover {
  transform: rotate(360deg);
}
.profit {
  color: rgb(2, 255, 2);
  font-weight: bold;
}
.loss {
  color: rgb(226, 29, 29);
  font-weight: bold;
}
